name: Build PHP extension

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make php-ext/build
      - name: Upload
        run: |
          cp target/release/libsanta_lang_php.so santa-lang-comet-php-${{ inputs.release-tag }}-linux-amd64.so
          gh release upload ${{ inputs.release-tag }} santa-lang-comet-php-${{ inputs.release-tag }}-linux-amd64.so --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
