name: Build Jupyter Kernel

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    env:
      CARGO_TERM_COLOR: always
    strategy:
      matrix:
        include:
          - platform: linux-amd64
            target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - platform: macos-amd64
            target: x86_64-apple-darwin
            os: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set release version
        run: |
          sed -i.bak 's/version = "[0-9.]*"$/version = "${{ inputs.release-tag }}"/' Cargo.toml
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.85.0
          targets: ${{ matrix.target }}
      - name: Load cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --release --bin santa-jupyter --target ${{ matrix.target }}
      - name: Upload
        run: |
          cp target/${{ matrix.target }}/release/santa-jupyter santa-lang-comet-jupyter-${{ inputs.release-tag }}-${{ matrix.platform }}
          gh release upload ${{ inputs.release-tag }} santa-lang-comet-jupyter-${{ inputs.release-tag }}-${{ matrix.platform }} --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
